@import "compass";
@import "mixins";

.taglib-form-navigator {
	ul.form-navigator.well {
		float: right;
	}

	.error-notice, .modified-notice {
		display: none;
	}

	> .form-steps {
		position: relative;

		> ul.form-navigator.well {
			border-width: 0;
			clear: both;
			float: none;
			overflow: visible;
			padding: 0;
			width: 100%;

			@include respond-to(phone, tablet) {
				overflow: auto;
				white-space: nowrap;
			}

			.tab {
				display: inline-block;
				overflow: visible;
				position: relative;
				text-align: center;
				white-space: nowrap;
				z-index: 50;

				&.active {
					&:last-child .tab-label .tab-icon {
						display: none;
					}

					.tab-label {
						position: relative;

						.message {
							display: inline-block;
						}

						.tab-icon {
							display: inline-block;
						}
					}
				}

				.tab-label {
					display: block;
					margin: 0 5px 0 -5px;
					outline: 0;
					padding: 0;

					.error-notice {
						display: none;
					}

					.number {
						clear: both;
						display: inline-block;
						margin: 5px;
						width: 30px;
					}

					.message {
						margin-left: -5px;
					}

					.modified-notice {
						display: none;
					}

					.tab-icon {
						display: none;
					}
				}
			}
		}
	}

	.form-navigator-content {
		overflow: visible;

		&[class*="span"] {
			margin-left: 0;
		}

		.form-section {
			display: none;

			&.active {
				display: block;
			}
		}
	}

	.section-modified .modified-notice {
		display: inline-block;
	}

	.section-error .error-notice {
		display: inline-block;
		margin-right: 5px;
	}
}