@import "aui/alloy-font-awesome/scss/variables";
@import "compass";
@import "mixins";

/* ---------- Dragging/sorting indicators ---------- */

.portlet-layout.dragging {
	border-collapse: separate;
}

.drop-area {
	background-color: #D3DADD;
}

.active-area {
	background: #FFC;
}

.portlet-boundary.yui3-dd-dragging {
	@include opacity(0.6);

	.portlet {
		border: 2px dashed #CCC;
	}
}

.sortable-layout-proxy {
	@include opacity(1);

	.portlet-topper {
		background-image: none;
	}
}

.proxy {
	cursor: move;

	@include opacity(0.65);

	position: absolute;

	&.generic-portlet {
		height: 200px;
		width: 300px;

		.portlet-title {
			padding: 10px;
		}
	}

	&.not-intersecting .forbidden-action {
		background: url(../images/application/forbidden_action.png) no-repeat;
		display: block;
		height: 32px;
		position: absolute;
		right: -15px;
		top: -15px;
		width: 32px;
	}
}

.resizable-proxy {
	border: 1px dashed #828F95;
	position: absolute;
	visibility: hidden;
}

.sortable-proxy {
	background: #727C81;
	margin-top: 1px;
}

.lfr-freeform-layout-drag-indicator {
	visibility: hidden;
}

.sortable-layout-drag-target-indicator {
	margin: 2px 0;
}

.yui3-dd-proxy {
	z-index: 1110 !important;
}

/* ---------- Portal tool tips ---------- */

.tooltip {
	max-width: 200px;
}

/* ---------- Tags ---------- */

.tagselector-content {
	border-width: 0;
	margin-bottom: 15px;
	overflow: visible;
	padding: 0;

	.textboxlistentry-holder {
		background: #FFF;
		border: 1px solid #CCC;
		margin-bottom: 5px;
		overflow: visible;
		padding: 5px;
		position: relative;

		li {
			line-height: 1;
		}

		.lfr-tag-selector-input {
			border-width: 0;
			margin-bottom: 0;
		}
	}

	.textboxlistentry-remove {
		padding: 0 3px 1px;
	}
}

.tagselector {
	.lfr-tags-selector-content {
		border-width: 0;
	}

	.lfr-tag-selector-input {
		background: none;
		padding: 0;
		width: auto;
	}

	.field .field-content {
		margin: 0;
	}

	.textboxlist-input-container {
		margin: 0;
	}
}

.tagselector-focused .textboxlistentry-holder {
	background: #FFF none;
	border: 1px solid #CCC;
}

.categoriesselector-content .textboxlistentry-holder {
	background-color: transparent;
	border-width: 0;
	padding: 0;
}

/* ---------- Tag cloud and tag list ---------- */

.tag-items {
	list-style: none;
	margin: 0 1em 0 0;
	padding: 0 1em 0.5em 1em;
	white-space: normal;

	li {
		display: inline;
		float: left;
		margin: 0 1em 0 0;
	}

	a {
		white-space: nowrap;
	}
}

.tag-selected {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}

.tag-cloud {
	line-height: 2.5em;

	$tag-popularity-font-size: 0.7em;

	@for $i from 1 through 6 {
		.tag-popularity-#{$i} {
			font-size: $tag-popularity-font-size + ($i * 0.3);
		}
	}
}

/* ---------- Underlay ---------- */

.underlay {
	clear: both;
	top: 100%;

	.yui3-widget-hd {
		height: 38px;
	}

	.lfr-portlet-item {
		border-width: 0;
	}
}

.underlay-hidden {
	display: none;
}

.underlay-content {
	background: #F4F3F3 url(../images/common/message_panel_shadow.png) repeat-x 0 0;
	border: 0 solid #AEAFB1;
	border-width: 0 1px 1px;
}

.underlay-close {
	position: absolute;
	right: 5px;
	top: 5px;
}

/* ---------- Tabs ---------- */

.tab-active strong {
	font-weight: normal;
}

.tab-back {
	float: right;
}

.tab-back-content {
	border-width: 0;
	padding: 1px;
}

/* ---------- Miscellaneous ---------- */

.hsv-palette {
	.hsv-view-container {
		.hsv-label-value-hex .hsv-value {
			width: 95px;
		}

		.hsv-label {
			display: inline;
			margin-left: 5px;
		}

		.hsv-value {
			width: 30px;
		}
	}
}

.lfr-panel-container {
	background: #FFF;
}

.lfr-panel-content {
	padding: 5px 10px;
}

.lfr-panel-basic .lfr-panel-content {
	padding-left: 15px;
}

.dialog-bd {
	min-height: 30px;
}

.dialog-content {
	border: 1px solid #C8C9CA;
	padding: 5px;
}

.panel-hd {
	background: #C0C2C5 url(../images/application/panel_header_bg.png) repeat-x 0 0;
	border: 1px solid;
	border-color: #C8C9CA #AEB2B8 #AEB2B8 #C8C9CA;
	padding-left: 10px;
	text-shadow: 1px 1px #FFF;
}

.app-view-drop-active {
	background-color: #00A2EA;
	font-weight: bold;

	.category-portlets & {
		color: #FFF;
	}
}

.basecelleditor [class~="form-validator-message"] {
	clip: rect(auto auto auto auto);
	width: auto;
}

.document-library-file-entry-cell-editor-hidden {
	display: none;
}

.previous-level {
	display: inline-block;
	font-size: 21px;
	line-height: 21px;
	margin-right: 5px;
	text-decoration: none;
	vertical-align: middle;
}

.aui .lfr-url-error {
	display: inline-block;
	white-space: normal;

	@include word-break(break-all);
}

/* ---------- Menus ---------- */

.lfr-page-templates li {
	a {
		padding: 0;

		label {
			cursor: pointer;
			display: block;
			padding: 5px 0 5px 5px;
		}
	}
}

.menu {
	position: absolute;
	width: auto;

	.notice-message {
		background-image: none;
		margin: 3px;
		padding: 6px;
	}
}

.menu-content {
	background: #FFF;
	list-style: none;
	min-width: 150px;

	li {
		margin: 0;
		padding: 0;

		.disabled {
			color: #999;
		}
	}
}

.menu-content {
	background: #CCC9C9 url(../images/application/menu_bg.png) repeat-x 0 0;
	border: 1px solid;
	border-color: #AEAFB1 #777879 #777879 #AEAFB1;
	padding: 2px 0;
}

.menugroup-content .menu-label {
	background: #D2D6DE;
	color: #5B677D;
	display: block;
	padding: 5px 3px;
	text-shadow: 1px 1px #FFF;
}

.menugroup-content ul {
	display: block;
	min-width: 0;
}

.menu-content li {
	border-bottom: 1px solid #BCBBBB;
	border-top: 1px solid #EEE;
	display: block;
	margin: 0;
	padding: 0;

	&.first {
		border-top-width: 0;
	}

	&.last {
		border-bottom-width: 0;
	}
}

.menu-content li a, .menu-content li .disabled {
	color: #2C2F34;
	display: block;
	padding: 4px 5px;
	text-decoration: none;
}

.menu-content li a.focus, .lfr-menu-expanded li a:focus {
	background-color: #5B677D;
	color: #FFF;
	text-shadow: -1px -1px #2C2F34;
}

/* ---------- Loading mask ---------- */

.loadingmask-content {
	background: #CCC;
}

.loadingmask-message {
	background: #D4D4D4 url(../images/portlet/header_bg.png) repeat-x 0 0;
}

/* ---------- Tree view ---------- */

.tree-node {
	.icon-check {
		padding-right: 2px;

		&:before {
			content: $check-empty;
		}
	}

	.tree-node-checked {
		.icon-check {
			padding-right: 0;

			&:before {
				content: $check;
			}
		}
	}

	.tree-node-over .tree-label {
		text-decoration: underline;
	}

	[class ^="icon-"] {
		margin-right: 5px;
	}

	.tree-node-checkbox-container {
		margin-right: 0;
	}

	.tree-node-selected .tree-label {
		background: none;
	}
}

.tree-node-content {
	.tree-hitarea {
		color: #999;
		font-size: 10px;
		padding-right: 6px;
	}

	.tree-label {
		margin-left: 3px;
	}

	.tree-node-hidden-hitarea {
		visibility: hidden;
	}
}

.tree-node-selected .tree-label {
	background-color: transparent;
}

/* ---------- Input mirror ---------- */

.lfr-autocomplete-input-list .yui3-aclist-list {
	margin: 0;
}

.liferay-autocomplete-input-mirror {
	left: -9999px;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	top: -9999px;
	visibility: hidden;
	white-space: pre-wrap;
	word-wrap: break-word;
}

/* ---------- Page customization ---------- */

.dragging .portlet-column.customizable {
	background-color: #CFFCCF;
	outline: 3px solid #9CC97B;
}

.customizable-layout-column-content {
	background-color: #C92C3C;

	&.yui3-widget-content-expanded {
		border: 3px solid #333;
		margin: 0.2em;
	}
}

.customizable .customizable-layout-column-content {
	background-color: #9CC97B;
}

.layout-customizable-controls {
	background-color: #FFF;
	font-size: 1.5em;
	margin: 1em;

	@include opacity(0.9);

	padding: 1em;
	position: absolute;
	z-index: 15;
}

/* ---------- Pagination ---------- */

.paginator-link {
	background: #EEE url() no-repeat scroll 50% 1px;
	border: 1px solid #F0F1F2;
	border-color: #F0F1F2 #B2B2B2 #949494 #F0F1F1;
	color: #1F1E1E;
	display: inline-block;
	height: 20px;
	padding: 0;
	text-indent: -9999px;
	width: 20px;
}

.paginator-page-link {
	height: auto;
	text-indent: 0;
}

.paginator-current-page {
	background: #0083BD url(../images/application/paginator_link_current_bg.png) 0 0 repeat-x;
	border-color: #38B6EF #006D9E #006D9E #46B4E6;
	color: #FFF;
	text-shadow: -1px -1px #003C57;
}

.paginator-first-link {
	background-image: url(../images/arrows/paging_first.png);
}

.paginator-prev-link {
	background-image: url(../images/arrows/paging_previous.png);
}

.paginator-last-link {
	background-image: url(../images/arrows/paging_last.png);
}

.paginator-next-link {
	background-image: url(../images/arrows/paging_next.png);
}

.paginator-current-page-report, .paginator-total {
	color: #555;
	font-size: 0.9em;
}

.paginator-current-page-report {
	margin-left: 2em;
}

.taglib-page-iterator .search-pages .page-links {
	padding: 0;
}

/* ---------- CKEditor menu ---------- */

.aui {
	.cke_dialog .cke_dialog_ui_input_text {
		height: auto;
	}

	.cke_panel.cke_combopanel {
		width: 220px;
	}

	.cke_panel_block {
		.cke_panel_grouptitle {
			font-size: 20px;
			line-height: 20px;
			margin-top: 0;
		}

		.cke_panel_list {
			margin-left: 0;

			.cke_panel_listItem {
				line-height: initial;

				a:hover {
					text-decoration: none;
				}
			}
		}
	}
}

/* ---------- HTML editor ---------- */

body.html-editor {
	background: #FFF;
	color: #000;
	padding: 1em;
}

.html-editor.portlet-message-boards {
	@include hyphenation;

	word-wrap: break-word;

	blockquote {
		background: #EEF0F2 url(../images/message_boards/quoteleft.png) no-repeat 5px 5px;
		border: 1px solid #777;
		padding: 5px 45px;

		&:after {
			background: url(../images/message_boards/quoteright.png) no-repeat 50%;
			content: '';
			display: block;
			float: right;
			height: 24px;
			margin-right: -35px;
			margin-top: -25px;
			width: 31px;
			z-index: 999;
		}

		cite {
			display: block;
			font-weight: bold;
		}
	}

	pre {
		background: #F9F9F9;
		border: 1px solid #777;
		padding: 0.5em;
	}
}

/* ---------- Inline editing ---------- */

.lfr-editable {
	$edit-color: #68BB30;
	$edit-color-hover: darken(#68BB30, 10);

	outline: 1px dashed $edit-color;
	outline-offset: 2px;
	position: relative;

	&:after {
		background: $edit-color url(../images/common/edit_white.png) no-repeat 50%;
		content: '';
		display: block;
		height: 20px;
		position: absolute;
		right: 5px;
		top: 5px;
		width: 30px;
	}

	&:focus {
		&:after {
			display: none;
		}

		&:hover {
			background-color: transparent;
		}
	}

	&:hover {
		background-color: rgba(255, 255, 255, 0.3);
		outline-color: $edit-color-hover;

		&:after {
			background-color: $edit-color-hover;
		}
	}
}

.lfr-editable-notice-close {
	margin-left: 1em;
}

.lfr-portlet-title-editable {
	margin-top: 0;
	z-index: 9999;

	.lfr-portlet-title-editable-content {
		padding: 0;

		.combobox-content {
			.field-content .field-input-text {
				display: block;
				margin-bottom: 0;
			}

			.field-label.textfield-label {
				display: none;
			}

			.toolbar-content {
				margin-top: 0;
				vertical-align: top;

				.btn-group {
					margin-top: 0;
				}
			}
		}
	}
}

.lfr-page-layouts .lfr-layout-template .layout-template-entry {
	height: 25px;
	width: 25px;
}

.yui3-color-picker-popover {
	.palette-container {
		border-collapse: separate;
	}
}

.ie {
	& input.cke_dialog_ui_input_text {
		height: auto;
	}

	.proxy.not-intersecting .forbidden-action {
		right: 2px;
		top: 2px;
	}
}

.ie7 {
	.menu-content li {
		z-index: 10;
	}

	.paginator-link {
		color: transparent;
		font-size: 0;
		overflow: hidden;
		text-indent: 0;
		vertical-align: middle;
	}

	.paginator-page-link {
		color: #1F1E1E;
		font-size: 1em;
		height: auto;
		line-height: 1.4;
		overflow: visible;
		text-indent: 0;
	}

	.paginator-current-page {
		color: #FFF;
	}
}

.ios.mobile {
	.modal-content .dialog-iframe-bd {
		-webkit-overflow-scrolling: touch;
		overflow: auto;
	}
}

/* ---------- Asset Links ---------- */

.taglib-asset-links {
	border-radius: 4px;

	h2 {
		color: #999;
		font-size: 1em;
	}
}

/* ---------- Calendar ---------- */

.taglib-calendar {
	table {
		border-color: #999;
	}

	tr {
		th, td {
			border-bottom-color: #999;
		}

		&.portlet-section-header th, td {
			border-color: #999;
		}
	}

	a:hover, a:focus {
		background-color: #CCC;
	}

	.calendar-inactive {
		color: #999;
	}

	.has-events {
		a span {
			background: url(@theme_image_path@/calendar/event_indicator.png) no-repeat 50% 95%;
		}

		&.calendar-current-day a span {
			background-image: url(@theme_image_path@/calendar/event_indicator_current.png);
		}
	}
}

/* ---------- Categorization Filter ---------- */

.taglib-categorization-filter {
	&.entry-title {
		color: #333;
		font-size: 1em;
		line-height: inherit;
	}

	.asset-entry {
		background-color: #DEE7F8;
		border-color: #CAD8F3;

		&:hover a {
			text-decoration: none;

			.icon-remove {
				background-color: #CAD8F3;
			}
		}
	}
}

/* ---------- Diff ---------- */

.taglib-diff-addedline, #taglib-diff-results ins {
	background: #E6FFE6;
}

.taglib-diff-context {
	background: #EEE;
}

.taglib-diff-deletedline, #taglib-diff-results del {
	background: #FFE6E6;
}

/* ---------- Diff HTML ---------- */

.taglib-diff-html {
	div {
		&.diff-removed-image {
			background: #FDC6C6 url(@theme_image_path@/diff/minus.png);
		}

		&.diff-added-image {
			background: #CFC url(@theme_image_path@/diff/plus.png) no-repeat;
		}
	}

	span {
		&.diff-html-added {
			background-color: #CFC;
			font-size: 1em;

			img {
				border-color: #CFC;
			}
		}

		&.diff-html-changed {
			background: url(@theme_image_path@/diff/underline.png) bottom repeat-x;

			img {
				border-color: #009;
			}
		}

		&.diff-html-removed {
			background-color: #FDC6C6;
			font-size: 1em;
			text-decoration: line-through;

			img {
				border-color: #FDC6C6;
			}
		}
	}
}

/* ---------- Discussion ---------- */

.taglib-discussion {
	table.tree-walker {
		border-collapse: collapse;
		border-width: 0;
	}

	.lfr-discussion {
		border-bottom-color: #DDD;
	}

	.lfr-discussion-details {
		.taglib-user-display {
			word-wrap: break-word;

			.user-details .user-name {
				font-weight: bold;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.lfr-discussion-posted-on {
		color: #999;
		font-size: .9em;

		.lfr-discussion-parent-link {
			cursor: pointer;
		}
	}

	.lfr-discussion-actions li a {
		&, span {
			text-decoration: none;
		}

		&:hover, &:focus {
			span {
				text-decoration: underline;
			}
		}
	}

	.lfr-discussion-form-container .lfr-discussion-form {
		background: #DDD;
		border-radius: 4px;
	}
}

/* ---------- Form Navigator ---------- */

.taglib-form-navigator {
	> .form-steps > ul.form-navigator.well {
		background: transparent;

		.tab {
			&.active {
				@include opacity(1);

				.tab-label {
					&:hover, &:focus {
						background: transparent;
					}

					.message {
						color: #000;

						@include opacity(0.7);
					}

					.number {
						background: #333;
						font-size: 18px;

						@include opacity(1);
					}

					.tab-icon {
						color: #333;
					}
				}
			}

			.tab-label {
				background: transparent;

				&:hover, &:focus {
					text-decoration: none;

					.number {
						@include opacity(1);
					}
				}

				.number {
					background: #CCC;
					color: #FFF;
					font-size: 14px;
					font-weight: bold;

					@include opacity(0.6);

					text-decoration: none;
				}

				.message {
					color: #000;
					font-size: 12px;
				}
			}
		}
	}
}

/* ---------- Header ---------- */

.taglib-header {
	border-bottom-color: #C8C9CA;
	color: #555;

	.header-back-to a {
		font-size: 1.5em;
		font-weight: bold;
		text-decoration: none;
	}
}

/* ---------- Input Move Boxes ---------- */

.taglib-move-boxes .choice-selector label {
	background: #EBF1F9;
	border-bottom-color: #8DB2F3;
}

/* ---------- Language ---------- */

.taglib-language-option {
	background-position: 0 50%;
	background-repeat: no-repeat;
}

.taglib-language-list-text {
	border-right-color: #CCC;
}

/* ---------- Preview ---------- */

.taglib-portlet-preview.show-borders {
	border-color: #828F95;

	.title {
		background-color: #D3DADD;
		font-size: 1.4em;
		font-weight: bold;
	}
}

/* ---------- Search Toggle ---------- */

.taglib-search-toggle .toggle-advanced {
	color: inherit;

	&, &:hover, &:focus {
		text-decoration: none;
	}
}

.taglib-search-toggle-advanced-wrapper .taglib-search-toggle-advanced {
	background-color: #FCFCFC;
	border-color: #DDD;
}

/* ---------- Social Activities ---------- */

.taglib-social-activities .day-separator {
	border-bottom-color: #CCC;
}

/* ---------- User Display ---------- */

.taglib-user-display {
	a .user-name {
		text-decoration: underline;
	}

	.user-name {
		font-size: 1.1em;
		font-weight: bold;
	}
}

/* ---------- Webdav ---------- */

.js .taglib-webdav {
	&.visible {
		background: #F0F5F7;
	}

	table {
		border-color: #828F95;
	}
}

/* ---------- Workflow Status ---------- */

.taglib-workflow-status {
	.workflow-id, .workflow-version, .workflow-status {
		color: #999;
	}

	.workflow-status-icon {
		background: url(@theme_image_path@/common/recent_changes.png) no-repeat 0 50%;
	}
}

/* ---------- Asset Category Selector ---------- */

.lfr-asset-category-container {
	.no-matches {
		color: #999;
	}
}

.lfr-asset-category-search-container {
	background-color: #D3DADD;
	border-bottom-color: #AEB8BC;
}

.lfr-asset-category-list a.selected {
	background-color: #EEE;
}

.lfr-categories-selector-search-results-path {
	color: #575757;
	font-size: 0.9em;
	text-align: right;
	width: 25%;
}

/* ---------- Asset Column ---------- */

.lfr-asset-column-actions-content {
	background-color: #D7F1FF;
}

.lfr-asset-column-actions .lfr-asset-column-actions-content {
	border-color: #88C5D9;
}

.lfr-asset-column-details {
	.lfr-asset-categories {
		color: #7D7D7D;

		.lfr-asset-category {
			color: #555;
		}
	}

	.lfr-asset-description {
		color: #444;
		font-style: italic;

		@include hyphenation;
	}

	.lfr-asset-icon {
		border-right-color: #999;
		color: #999;
	}

	.lfr-asset-date {
		background: url(@theme_image_path@/common/date.png) no-repeat 0 50%;
	}

	.lfr-asset-tags {
		color: #7D7D7D;

		.tag {
			color: #555;
		}
	}
}

.lfr-asset-panels, .lfr-asset-column-details {
	.lfr-panel.lfr-extended {
		border-color: #CCC;
	}
}

/* ---------- Auto Row ---------- */

.lfr-form-row {
	border-bottom-color: #CCC;
}

.lfr-form-row:hover {
	background-color: #DFFCCB;
	border-color: #B2FF3A;
}

.lfr-form-row .handle-sort-vertical {
	background: url(@theme_image_path@/application/handle_sort_vertical.png) no-repeat 0 50%;
}

/* ---------- Edit Layout ---------- */

.lfr-edit-layout-panel .taglib-form-navigator .button-holder {
	background-color: #FFF;
}

/* ---------- Flyout ---------- */

.js .lfr-flyout-has-children {
	background: url(@theme_image_path@/arrows/04_left.png) no-repeat 5px 50%;

	&.send-right {
		background-image: url(@theme_image_path@/arrows/04_right.png);
	}
}

/* ---------- Generic Portal ---------- */

.definition-of-terms dt {
	color: #333;
	font-weight: normal;
}

.lfr-code {
	background: #FFF;
	border-color: #777;

	tr td.line-numbers {
		background: #FAFAFA;

		.number {
			color: #AAA;
			text-shadow: 1px 1px #FFF;
		}
	}
}

.popup-alert-notice .countdown-timer {
	font-size: 1.1em;
	font-weight: bold;
}

.lfr-token {
	background-color: #B3DAEF;
	border-color: #5FA8FF;
	color: #444;
	text-decoration: none;

	&:hover {
		background-color: #D1E5EF;
	}
}

.lfr-token-primary {
	font-weight: bold;

	&, &:hover {
		background-color: #B3DAEF;
	}
}

.lfr-token-close:hover {
	text-decoration: none;
}

@include respond-to(phone) {
	.definition-of-terms {
		dd {
			margin-left: 10px;
		}

		dt {
			float: none;
		}
	}
}

/* ---------- Generic Portlet ---*/

.lfr-button {
	background: url() no-repeat 0 50%;
}

.lfr-table tr th {
	font-weight: bold;
}

.lfr-checkbox-preselected, .lfr-configurator-visibility {
	@include opacity(0.5);
}

.ie {
	.lfr-checkbox-preselected, .lfr-configurator-visibility, .lfr-configurator-visibility .portlet-topper {
		zoom: 1;
	}
}

/* ---------- Header Row ---------- */

.lfr-header-row {
	border-bottom-color: #7B7B7B;

	.lfr-search-combobox {
		border-color: #5F5F5F;
	}
}

/* ---------- OpenId ---------- */

.openid-login input[type="text"] {
	background: url(@theme_image_path@/common/openid.gif) no-repeat;
	background-color: #FFF;
	background-position: 0 50%;
	color: #000;
}

.ie6 .openid-login input.text {
	background: url(@theme_image_path@/common/openid.gif) no-repeat;
	background-color: #FFF;
	background-position: 0 50%;
	color: #000;
}

/* ---------- Page Settings ---------- */

.page-extra-settings .lfr-panel-titlebar .lfr-panel-title {
	font-size: 1em;
}

/* ---------- Panel Component ---------- */

.lfr-panel.lfr-extended, .lfr-panel-container, .lfr-floating-container {
	border-color: #DEDEDE #BFBFBF #BFBFBF #DEDEDE;
}

.lfr-panel-container, .lfr-floating-container {
	background: #FFF;
}

.lfr-panel-titlebar {
	.lfr-panel-title {
		font-size: 1.2em;
		font-weight: bold;
	}

	.lfr-panel-button {
		background: url(@theme_image_path@/application/panel_header_toggler_close.png) no-repeat 0 0;

		&:hover {
			background-position: 0 100%;
		}
	}
}

.lfr-panel{
	&.lfr-collapsible .lfr-panel-titlebar {
		background: url(@theme_image_path@/arrows/05_down.png) no-repeat 2px 50%;
	}

	&.lfr-collapsed .lfr-panel-titlebar {
		background-image: url(@theme_image_path@/arrows/05_right.png);

		.lfr-panel-button {
			background-image: url(@theme_image_path@/application/panel_header_toggler_open.png);
		}
	}

	&.lfr-extended .lfr-panel-titlebar {
		background: #D6D6D6 url(@theme_image_path@/application/panel_header.png) repeat-x 0 0;
		border-bottom-color: #CDCDCD;
	}
}

.lfr-panel-container .lfr-extended.lfr-collapsible .lfr-panel-titlebar {
	border-top-color: #CECECE;
}

.js {
	.lfr-floating-trigger {
		background-image: url(@theme_image_path@/arrows/05_down.png);
		background-position: 100% 50%;
		background-repeat: no-repeat;
		text-decoration: none;
	}
}

/* ---------- Panel Page ---------- */

.lfr-panel-page {
	.panel-page-content {
		border-left-color: #CCC;
	}

	.lfr-add-content {
		h2 {
			border-color: #CCC;

			span {
				background: #EFEFEF;
			}
		}

		.lfr-content-category h2 {
			border-bottom-color: #CCC;

			span {
				background: none;
			}
		}
	}
}

/* ---------- Panel Pagination ---------- */

.lfr-panel-content {
	.paginator-container {
		background: #CFD2D5;
		border-bottom-color: #DCDEE0;
		border-top-color: #DCDEE0;
	}

	.paginator-page-container .paginator-page-link {
		background: none;
		border-color: #CFD2D5;

		&.paginator-current-page {
			background: #99A7B3 url(@theme_image_path@/application/current_page_hover_bg.png) repeat-x 0 0;
			border-color: #6B7785 #7C8994 #919FA9;
			color: #FFF;
			font-weight: bold;

			&:hover {
				background: #5094D7 url(@theme_image_path@/application/current_page_bg.png) repeat-x 0 0;
				border-color: #31659C #396EA8 #4C8CCB;
			}
		}
	}
}

/* ---------- Portlet CSS Editor ---------- */

#portlet-set-properties fieldset fieldset legend {
	font-size: 1.1em;
}

/* ---------- Portlet Item ---------- */

.lfr-portlet-item {
	background: url(@theme_image_path@/add_content/portlet_item.png) no-repeat 0 50%;
	border-color: #FFF;
	font-size: 1.1em;

	&:hover, &.over {
		background-color: #FFC;
		border-color: #FC0;
	}

	p {
		font-size: 1em;

		a {
			font-size: 0.9em;
			font-weight: bold;
		}
	}
}

.lfr-add-content .lfr-portlet-item {
	&.lfr-instanceable {
		background-image: url(@theme_image_path@/add_content/portlet_item_instanceable.png);
	}

	&.lfr-archived-setup {
		background-image: url(@theme_image_path@/add_content/portlet_item_archived_setup.png);
	}
}

/* ---------- Preview ---------- */

.lfr-preview-file-content {
	border-bottom-color: #6D6D6E;
}

.lfr-preview-file-image-current-column, .lfr-preview-file-video-current-column {
	background: url(@theme_image_path@/common/checkerboard.png);
}

.lfr-preview-file-toolbar {
	background: #333;

	.icon-arrow-1-l {
		background: url(@theme_image_path@/document_library/preview_left.png) no-repeat 0 50%;
	}

	.icon-arrow-1-r {
		background: url(@theme_image_path@/document_library/preview_right.png) no-repeat 0 50%;
	}

	.icon-zoomin {
		background: url(@theme_image_path@/document_library/preview_zoom.png) no-repeat 0 50%;
	}
}

.lfr-preview-file-info {
	background: #333;
	color: #FFF;
}

.lfr-preview-file-index {
	font-weight: bold;
}

.lfr-preview-file-image-current {
	background: url(@theme_image_path@/aui/loading_indicator.gif) no-repeat 50% 50%;
}

.lfr-preview-file-image img {
	background: url(@theme_image_path@/aui/loading_indicator.gif) no-repeat 50% 50%;
	border-color: #AEB8BC;
}

.lfr-preview-file-image-selected img, .lfr-preview-file-image:hover img {
	border-color: #00A2EA;
}

.lfr-preview-file-loading-indicator {
	background: #333;
	color: #FFF;
}

.lfr-preview-file-image-overlay-content {
	background: url(@theme_image_path@/common/checkerboard.png);
	border-color: #555;
}

.ie6, .ie7 {
	.lfr-preview-file-image-container {
		font-size: 398.2px;
		line-height: 1;
	}
}

.firefox .lfr-preview-video-content div.video-node {
	height: 100%;
}

/* ---------- Rich Editor ---------- */

.lfr-rich-editor.ace_editor {
	border-color: #A1A2A4;
}

.lfr-plain-editor textarea, .lfr-rich-editor.ace_editor {
	font-family: 'Monaco', 'Menlo', 'Droid Sans Mono', 'Courier New', monospace;
	font-size: 12px;
}

/* ---------- Tag Selector ---------- */

.lfr-tag-selector-popup {
	label {
		border-bottom-color: #EEE;
	}

	.no-matches {
		color: #999;
	}
}

/* ---------- Toolbar ---------- */

.lfr-toolbar {
	background-color: #E5E4E8;

	.lfr-button {
		&:focus {
			border-color: #000;
		}

		&:hover {
			border-color: #CCC #777 #777;
		}
	}

	.lfr-separator {
		border-left-color: #FFF;
		border-right-color: #CCC;
		font-size: 12px;
	}
}

.lfr-toolbar, .lfr-emoticon-container {
	.lfr-button {
		border-color: #E5E4E8;
	}
}

.lfr-emoticon-container {
	background: #E5E4E8;
	border-color: #CCC;
}

/* ---------- Translation Manager ---------- */

.lfr-translation-manager {
	background: #EEE;
	border-color: #979798 #FAFAFB #FAFAFB #BDBDBE;
	color: #34404F;

	.lfr-translation-manager-available-translations {
		.lfr-translation-manager-available-translations-links {
			line-height: 1;
		}
	}

	.lfr-translation-manager-translation {
		background-color: #B3DAEF;
		border-color: #5FA8FF;
		color: #444;
		text-decoration: none;
		text-shadow: 1px 1px #EEE;

		&:hover {
			background-color: #D1E5EF;
		}

		&.lfr-translation-manager-translation-editing {
			background-color: #598BEC;
			border-color: #224FA8;
			color: #FFF;
			font-weight: bold;
			text-shadow: -1px -1px #555;

			.lfr-translation-manager-delete-translation {
				background-color: #FFF;
			}
		}
	}

	label {
		font-weight: bold;
	}
}

/* ---------- Tree ---------- */

.lfr-tree a {
	text-decoration: none;
}

/* ---------- Uploader ---------- */

.lfr-upload-container {
	.upload-target {
		border-color: #DDD;

		h4 span {
			text-transform: lowercase;
		}

		.drop-file-text {
			font-weight: normal;
		}
	}

	a {
		&.browse-button {
			background-image: url(@theme_image_path@/common/add.png);
			background-repeat: no-repeat;
			color: white;
			font-size: 1.2em;
			font-weight: bold;
			text-decoration: none;
		}

		&.clear-uploads {
			background-image: url(@theme_image_path@/common/remove.png);
			background-repeat: no-repeat;
		}

		&.cancel-uploads {
			background-image: url(@theme_image_path@/common/close.png);
			background-repeat: no-repeat;
		}
	}

	.multiple-files .upload-file {
		background: url(@theme_image_path@/file_system/small/jpg.png) no-repeat 5px 50%;

		&.upload-complete {
			background-position: 22px 50%;
			padding-left: 45px;

			&.file-saved, &.upload-error {
				background-position: 5px 50%;
			}

			&.file-saved {
				background-image: url(@theme_image_path@/common/check.png);
			}
		}
	}

	.upload-file {
		border-color: #CCC;
		font-weight: bold;
		text-shadow: 1px 1px #FFF;

		.file-title {
			font-weight: bold;
		}

		&.upload-complete.file-saved {
			background-color: #B4DDAD;
			font-weight: bold;

			@include opacity(0.6);
		}
	}

	.upload-list .upload-file.upload-complete.selected, .upload-list .upload-file.upload-complete.pending-file.selected {
		background-color: #D3E8F1;
		border-color: #38F;
		color: #047;
		text-shadow: 1px 1px #FFF;
	}

	.upload-list-info h4 {
		font-size: 1.3em;
	}

	.cancel-button {
		background-color: #800;
		background-image: url(@theme_image_path@/common/delete.png);
		background-repeat: no-repeat;
		color: #FFF;
		text-shadow: 1px 1px #500;
	}

	.delete-button {
		background-image: url(@theme_image_path@/portlet/close.png);
		background-repeat: no-repeat;
		font-size: 0;
	}

	.pending-file {
		background-color: #E0E0E0;
		color: #777;
		text-shadow: -1px -1px #FFF;
	}

	.file-added .success-message {
		font-weight: normal;
	}

	.multiple-files .upload-error {
		background-color: #FDD;
		background-image: url(@theme_image_path@/messages/error.png);
		border-color: #900;
		color: #900;
		font-weight: normal;
	}

	.upload-complete {
		.error-message, .success-message {
			font-weight: bold;
		}
	}

	.file-uploading {
		background-color: #FFC;
	}

	.progress-bar {
		background: #FFF;
		border-color: #83A8D9;
	}

	.progress {
		background: #8DB2E3;
	}
}

.upload-drop-active .lfr-upload-container .upload-target {
	background-color: #DDEDDE;
	border-color: #7D7;
	border-style: dashed;
}

/* ---------- Add Content ---------- */

.lfr-add-panel {
	.add-content-menu {
		.lfr-add-apps-legend {
			color: #999;
		}

		.control-label {
			color: #555;
			font-weight: 400;
		}

		.template-selector {
			legend {
				border-style: none;
				color: #555;
				font-size: 15px;
				font-weight: 400;
				line-height: 1.5em;
			}
		}

		.lfr-add-page-toolbar {
			background-color: #FFF;
		}

		.lfr-content-item {
			color: #3EA9DB;

			&:hover {
				background-color: #EEE;
				color: #006076;
			}

			&.lfr-portlet-used {
				color: #BBB;
			}
		}

		.lfr-install-more {
			text-align: center;
		}

		.lfr-page-template {
			.lfr-page-template-title .lfr-page-template-description {
				color: #8D8D8D;
				line-height: 15px;
			}

			.toggler-header {
				&.active {
					&.lfr-page-template-title label {
						background-color: #0DB5E7;
						color: #FFF;
					}
				}
			}

			&:hover {
				background-color: #F0F0F0;
			}

			.lfr-page-template-options {
				border-bottom-color: #EEE;
			}
		}

		.portal-add-content .portlet-msg-info {
			color: #333;
		}
	}
}

.lfr-add-content-preview {
	.asset-information {
		font-size: 10px;

		.user-name {
			color: #369;
		}
	}

	.asset-summary {
		font-size: 12px;
	}

	.asset-title {
		color: #369;
		font-size: 14px;
	}
}

/* ---------- Device Preview ---------- */

.lfr-device-preview {
	background-color: rgba(255, 255, 255, 0.95);
}

.lfr-device-preview-panel .lfr-device-item {
	&:hover {
		background-color: #E5F2FC;
		background-position: 10px center;
		background-repeat: no-repeat;
		color: #006076;
	}

	&.selected {
		background-color: #3EA9DB;
		color: #FFF;
	}

	.device-info {
		background-position: 0 center;
		background-repeat: no-repeat;
	}

	&.autosize {
		.device-info {
			background-image: url(@theme_image_path@/device_preview/full_size_off.png);
		}

		&.selected .device-info {
			background-image: url(@theme_image_path@/device_preview/full_size_active.png);
		}
	}

	&.desktop {
		.device-info {
			background-image: url(@theme_image_path@/device_preview/desktop_off.png);
		}

		&.selected .device-info {
			background-image: url(@theme_image_path@/device_preview/desktop_active.png);
		}
	}

	&.smartphone {
		.device-info {
			background-image: url(@theme_image_path@/device_preview/mobile_off.png);
		}

		&.selected {
			&:hover {
				background-image: url(@theme_image_path@/device_preview/mobile_horizontal_opacity.png);
			}

			.device-info {
				background-image: url(@theme_image_path@/device_preview/mobile_vertical_with_arrow.png);
			}

			&.rotated {
				.device-info {
					background-image: url(@theme_image_path@/device_preview/mobile_horizontal_with_arrow.png);
				}

				&:hover {
					background-image: url(@theme_image_path@/device_preview/mobile_vertical_opacity.png);
				}
			}
		}
	}

	&.tablet {
		.device-info {
			background-image: url(@theme_image_path@/device_preview/tablet_off.png);
		}

		&.selected {
			&:hover {
				background-image: url(@theme_image_path@/device_preview/tablet_horizontal_opacity.png);
			}

			.device-info {
				background-image: url(@theme_image_path@/device_preview/tablet_vertical_with_arrow.png);
			}

			&.rotated {
				.device-info {
					background-image: url(@theme_image_path@/device_preview/tablet_horizontal_with_arrow.png);
				}

				&:hover {
					background-image: url(@theme_image_path@/device_preview/tablet_vertical_opacity.png);
				}
			}
		}
	}
}

.lfr-device {
	.lfr-device-size-status {
		.lfr-device-size-status-content {
			background-color: #000;
			color: #FFF;
		}
	}

	&:after, &:before {
		background: #666;
	}

	&.smartphone, &.tablet {
		background: #333;
	}
}

/* ---------- Surface ---------- */

.lfr-surface-loading-bar {
	background: #2FA4F5;
}

/* ---------- Diff Version Comparator ---------- */

.diff-version-comparator {
	.taglib-diff-html {
		.diff-html-changed {
			background-image: none;
			border-bottom-color: #009AE5;

			img {
				border-color: #009AE5;
			}
		}
	}

	.diff-version-head {
		border-bottom-color: #E5E5E5;

		.diff-selector-version {
			font-size: inherit;

			a {
				text-decoration: none;

				.lfr-icon-menu-text {
					&:hover, &:focus {
						text-decoration: underline;
					}
				}
			}

			.caret {
				border-top-color: #FFF;
			}
		}

		.diff-target-selector {
			border-left-color: #E5E5E5;
		}

		.diff-source-selector, .diff-target-selector {
			font-size: 20px;
			font-weight: 200;

			.diff-selector-version-info {
				color: #8C8C8C;
				font-size: 12px;
			}
		}
	}

	.search-container-column {
		.language-selector {
			.control-group {
				select {
					font-size: 13px;
				}
			}
		}

		.search-panels {
			.search-panels-bar {
				.control-group {
					.search-panels-input {
						@include border-radius(0);
					}
				}

				.search-panel-icon {
					background: url(@theme_image_path@/diff/search_panel_icon.png) no-repeat 0 50%;
					color: #D4D4D4;
					font-size: 0;
				}

				input {
					font-size: 14px;
				}
			}
		}

		.version-item {
			border-bottom-color: #E5E5E5;

			&.selected {
				background-color: #F0F0F0;

				.version-title {
					color: #555;
				}

				.version-info {
					.user-info, .date-info {
						color: #555;
					}
				}
			}

			.version-title {
				color: #009AE5;
				font-weight: 400;
			}

			.version-info {
				.user-info {
					color: #009AE5;
					font-size: 13px;
					line-height: 13px;
				}

				.date-info {
					color: #8C8C8C;
					font-size: 10px;
				}
			}
		}
	}

	.diff-container-column {
		background-color: #F1F1F1;
		border-color: #EBEBEB;

		.diff-container {
			background-color: #FFF;
			border-color: #E5E5E5;
		}

		.legend-info {
			background-color: #FFF;
			border-color: #E5E5E5;

			.add.icon-stop {
				color: #CFC;
			}

			.delete.icon-stop {
				color: #FDC6C6;
			}

			.legend-item {
				&.diff-html-changed {
					border-bottom-color: #009AE5;
				}
			}
		}

		.diff-version-filter {
			background-color: #F9F9F9;
			border-color: #E5E5E5;

			.close-version-filter {
				color: #CCC;
			}

			.display-date {
				color: #8C8C8C;
				font-size: 10px;
			}

			.user-name {
				color: #009AE5;
				font-size: 13px;
			}

			.version {
				color: #555;
				font-weight: 400;
			}
		}
	}

	.diff-version-title {
		color: #8C8C8C;
		font-size: 12px;
	}
}